@font-face {
    font-family: "nordic";
    src: url(Norse-Bold.otf);
}


body{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;

}

.leftBar{
    width: 30%;
    background-image: url(img/plants.jpg);
    background-size: cover; 
}


.leftBarHeader{
    height: 25%;
    display: flex;
    align-items: center;
}

#odinLogo{
    height: 100%;
    width: auto;
}

.leftBarHeader p{
    font-size: 5rem;
    color: white;
}

.rightBar{
    width: 70%;
}

.rightBarHeader{
    margin-left: 2rem;
}

.formContainer{
    padding: 1rem  1rem 1rem 2rem;
    box-shadow: 0px 2px 5px #acaaaa;
    margin: 3rem 0rem;

}

.rightBarFooter{
    margin-left: 2rem;
}

.rowForm{
    display: flex;
    gap: 3rem;
}

.rowForm label{
    display: block;
}

input{
    border: 1.5px solid #E5E7EB;
}

input:focus{
    border: 2.5px solid #3e3efc;
    border-radius: 3px;
    box-shadow: 4px 2px 5px #acaaaa;
    outline: none;
}

.rightBarFooter button{
    background-color: #596D48;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 15px;
}

.rightBarFooter a{
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}